DevOps-sessions/logic-app-01/templates/logic.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "rgName": {
            "type": "String"
        },
        "logicAppName": {
            "type": "String"
        },
        "vmName": {
            "type": "String"
        }
    },
    "variables": {},
    "resources": [
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('logicAppName')]",
            "location": "centralus",
            "identity": {
                "type": "SystemAssigned"
            },
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "manual": {
                            "type": "Request",
                            "kind": "Http",
                            "inputs": {
                                "schema": {}
                            }
                        }
                    },
                    "actions": {
                        "Condition": {
                            "actions": {
                                "Start_virtual_machine": {
                                    "runAfter": {},
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['azurevm']['connectionId']"
                                            }
                                        },
                                        "method": "post",
                                        "path": "[concat('/subscriptions/@{encodeURIComponent(''5a6a5af2-685d-4db2-b571-79307ff2e6e7'')}/resourcegroups/@{encodeURIComponent(''', parameters('rgName'), ''')}/providers/Microsoft.Compute/virtualMachines/@{encodeURIComponent(''', parameters('vmName'), ''')}/start')]",
                                        "queries": {
                                            "api-version": "2019-12-01"
                                        }
                                    }
                                }
                            },
                            "runAfter": {},
                            "else": {
                                "actions": {
                                    "Condition_2": {
                                        "actions": {
                                            "Power_off_virtual_machine": {
                                                "runAfter": {},
                                                "type": "ApiConnection",
                                                "inputs": {
                                                    "host": {
                                                        "connection": {
                                                            "name": "@parameters('$connections')['azurevm']['connectionId']"
                                                        }
                                                    },
                                                    "method": "post",
                                                    "path": "[concat('/subscriptions/@{encodeURIComponent(''5a6a5af2-685d-4db2-b571-79307ff2e6e7'')}/resourcegroups/@{encodeURIComponent(''', parameters('rgName'), ''')}/providers/Microsoft.Compute/virtualMachines/@{encodeURIComponent(''', parameters('vmName'), ''')}/powerOff')]",
                                                    "queries": {
                                                        "api-version": "2019-12-01"
                                                    }
                                                }
                                            }
                                        },
                                        "runAfter": {},
                                        "expression": {
                                            "and": [
                                                {
                                                    "equals": [
                                                        "@triggerBody()",
                                                        "off"
                                                    ]
                                                }
                                            ]
                                        },
                                        "type": "If"
                                    }
                                }
                            },
                            "expression": {
                                "and": [
                                    {
                                        "equals": [
                                            "@triggerBody()",
                                            "on"
                                        ]
                                    }
                                ]
                            },
                            "type": "If"
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "azurevm": {
                                "connectionId": "[concat('/subscriptions/5a6a5af2-685d-4db2-b571-79307ff2e6e7/resourceGroups/', parameters('rgName'), '/providers/Microsoft.Web/connections/azurevm')]",
                                "connectionName": "azurevm",
                                "connectionProperties": {
                                    "authentication": {
                                        "type": "ManagedServiceIdentity"
                                    }
                                },
                                "id": "/subscriptions/5a6a5af2-685d-4db2-b571-79307ff2e6e7/providers/Microsoft.Web/locations/centralus/managedApis/azurevm"
                            }
                        }
                    }
                }
            }
        }
    ]
}